<div class='text_title zone'></div>
<div class='slot_machine zone'>
	<div class='display dotted-border'>
		<div class='slot' id='slot1'><!-- <img class='reel' id='reel1' src='SLOT_DOGS_lineup_3_big_top.jpg' /> --></div>
		<div class='slot' id='slot2'><!-- <img class='reel' id='reel2' src='SLOT_DOGS_lineup_3_big_bottom.jpg' /> --></div>
		<div class='video hide'>
			<video webkit-playsinline data-id='1' class='hide' width='432px' height='600px' src='./movies/1_AUSSIE_NEW.mp4' type='video/mp4'></video>
			<video webkit-playsinline data-id='2' class='hide' width='432px' height='600px' src='./movies/2_BOSTON_TERRIER_NEW.mp4' type='video/mp4'></video>
			<video webkit-playsinline data-id='3' class='hide' width='432px' height='600px' src='./movies/3_BOYKIN_NEW.mp4' type='video/mp4'></video>			<video webkit-playsinline data-id='4' class='hide' width='432px' height='600px' src='./movies/4_CHIHUAHUA_NEW.mp4' type='video/mp4'></video>			<video webkit-playsinline data-id='5' class='hide' width='432px' height='600px' src='./movies/5_CHOCOLATE_LAB_NEW.mp4' type='video/mp4'></video>			<video webkit-playsinline data-id='6' class='hide' width='432px' height='600px' src='./movies/6_COCKER_SPANIEL_NEW.mp4' type='video/mp4'></video>			<video webkit-playsinline data-id='7' class='hide' width='432px' height='600px' src='./movies/7_POODLE_NEW.mp4' type='video/mp4'></video>			<video webkit-playsinline data-id='8' class='hide' width='432px' height='600px' src='./movies/8_PORTIE_NEW.mp4' type='video/mp4'></video>			<video webkit-playsinline data-id='9' class='hide' width='432px' height='600px' src='./movies/9_YELLOW_LAB_NEW.mp4' type='video/mp4'></video>			<video webkit-playsinline data-id='10' class='hide' width='432px' height='600px' src='./movies/10_PEKINGESE_NEW.mp4' type='video/mp4'></video>			<video webkit-playsinline data-id='11' class='hide' width='432px' height='600px' src='./movies/11_PUG_NEW.mp4' type='video/mp4'></video>			<video webkit-playsinline data-id='12' class='hide' width='432px' height='600px' src='./movies/12_CORGI_NEW.mp4' type='video/mp4'></video>
			</video>
		</div>
	<H1 class='dogname impact tracking big'>
		<% @dogs.shuffle.each do |dog| %> 
			<span class='hide <%= "match" if dog.match %><%= " wild" if (dog.posone == 13 || dog.postwo == 13) %>' data-posone='<%= dog.posone %>' data-postwo='<%= dog.postwo %>'>
				<%= dog.name.upcase %>
			</span>
		<% end %>
	</H1>
	</div>
</div>
<div class='bone_drop zone'>
	<div class='incoming'></div>
	<div class='controls'>
		<button type='button' id='control' class='spin circle hvr-glow impact'><span>Spin</span></button>
	</div>
	<div class='bowl empty'>
	</div>
	<H1 class='bone_count impact'>Bones: <span class='bones'>0</span></H1>
</div>
<div class='trophies zone'>
	<% (1..12).each do |index| %>
		<div class='trophy' data-id='<%= index %>'></div>
	<% end%>
</div>
<footer>
	<span class='st_twitter_large' displayText='Tweet'></span>
	<span class='st_googleplus_large' displayText='Google+'></span>
	<span class='st_facebook_large' displayText='Facebook'></span>
	<span class='st_instagram_large' displayText='Instagram'></span>
	<span class='st_text_large' displayText='Sms'></span>
	<span class='st_pinterest_large' displayText='Pinterest'></span>
	<span class='st_email_large' displayText='Email'></span>
	<span class='st_sharethis_large' displayText='ShareThis'></span>
</footer>
<input type='hidden' class='debug_mode' name='debug_mode' value='<%= @debug if @debug %>'/>

<%= render 'bone' %>
<%= render 'modal' %>
<%= render 'winning' %>